#title {
    display: flex;
   justify-content: center;
}


#navigation{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 30px;
        
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 14pt;
}

a{
    text-decoration: none;
    color: black;
}

span{
    display:flex;
    justify-content: center;
    width:500px;
    padding: 10pt;
    font-size: 35px;
    color: white;
    margin-top: 35pt;
    background-color: black;
}

#start{
    display: flex;
    justify-content: center;
    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20pt;
    border: 2pt solid black;
    
}

p {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    
}

h2{
    margin-bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:625px) {
    .center{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20pt;
        border: 2pt solid black;
        
    }
p{
    display: block;
    width: fit-content;
}

span{
    display: block;
    width: fit-content;
    font-size: 20pt;
}

#navigation{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
        
}

}