#title {
    display: flex;
   justify-content: center;
}


#navigation{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 30px;
        
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    font-weight: 400;
    line-height: 14pt;
}

a{
    text-decoration: none;
    color: black;
}

#top {
    width: 340px;
    height: 93px;
}

span{
    display:flex;
    justify-content: center;
    padding: 15px 28px 12px;
    font-size: 35px;
    color: white;
    margin-top: 35pt;
    background-color: black;
}

#start{
    display: flex;
    justify-content: center;
    
}

 .container1,.container2,.container3 {
    display: flex;
    gap: 25pt;
    margin-top: 25pt;
    justify-content: center;
    
}

#gpic{
    border: 3pt solid black;
    
    
}

@media (max-width:900px) {
    .container1,.container2,.container3{
        display: flex;
        flex-direction: column;
        justify-content: center;
             
       
    }
    #gpic{
        width: 30%;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    #content{
        display: block;
        text-align: center;
        width: 100%;
        border-right: 3pt solid black;
        border-bottom: 3pt solid black;
    }
    h2{
        width: 100%;
        text-align: center;
        padding-top: 50pt;
        border-top: 3pt solid black;
        border-right: 3pt solid black;
        
        margin: 0;
    }
   
}

@media (max-width:532px) {
    #navigation{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 30px;
            
    }

    #gpic{
        width: 50%;
        height: 50%;
    }
    
    #content{
        display: block;
        text-align: center;
        width: 100%;
        border-right: 3pt solid black;
        border-bottom: 3pt solid black;
    }
    h2{
        width: 100%;
        text-align: center;
        padding-top: 50pt;
        border-top: 3pt solid black;
        border-right: 3pt solid black;
        
        margin: 0;
    }
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 12pt;
        font-weight: 400;
        line-height: 14pt;
    }
    

}


